/* Tic Tac Toe - Indika Jayasinghe */

#board{
	border: 2px solid black;
	height: 306px;
	width: 294px;
}

div.cell{
	border: 1px solid black;
	height: 100px;
	width: 96px;
	font-family: verdana;
	font-size: 121px;
	float: left;
	line-height: 0.8;
}

div.highlight{
	background-color: yellow;
}

div.draw{
	background-color: red;
}


button{
	margin-top: 10px;
}

