/* Tic Tac Toe - Indika Jayasinghe */

#board{
	border: 2px solid black;
	height: 306px;
	width: 306px;
}

div.cell{
	border: 1px solid black;
	height: 100px;
	width: 100px;
	font-size: 123px;
	float: left;
	line-height: 1.0;
}

div.highlight{
	background-color: yellow;
}

div.draw{
	background-color: red;
}


button{
	margin-top: 10px;
}
